.idea
db.sqlite3
.python-version
/django-debug.log
*.pyc
.DS_Store
DPS_dev
dist
*.egg-info
build

node_modules
venv

postgres-data

# CI stuff
.coverage
coverage.xml
pytest.xml
pylint.json

# http commands for manual tests
rest.http