# see: https://pylint.pycqa.org/en/latest/messages/messages_list.html
# see: https://pylint.pycqa.org/en/latest/technical_reference/features.html
# see: https://www.getcodeflow.com/pylint-configuration.html

[MASTER]

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=pylint_django

django-settings-module=vault_site.settings


[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           e,
           ex,
           Run,
           _,
           rf,
           pk,

# NOTE (mwilson Tue 15 Mar 2022): the `duplicate-code` message should be
# re-enabled when process_{chunked,hashed}_files.py are folded into the
# "storage manager".

[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        duplicate-code,
        fixme,

