django
django-filter
djangorestframework
django-basicauth
fs
internetarchive
Jinja2
psycopg2-binary
PyYAML<6,>=3.10
requests
sentry-sdk
more-itertools
tqdm

# remove with old File code
filetype
sanitize-filename
