-r requirements.in
-c requirements.txt
cssselect
lxml
model_bakery
playwright
pylint
pylint-django
pylint-gitlab
pytest
pytest-cov
pytest-django
pytest-docker
pytest-playwright
tox
freezegun==1.1.0
black
