{% extends "vault/base.html" %}
{% set breadcrumbs = (("Vault", "dashboard"), ("Collections", "collections")) %}
{% block header_title %}Collections{% endblock header_title %}
{% block sticky_message %}{% endblock sticky_message %}
{% block subnav %}{% endblock subnav %}
{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <br>
            <br>
            {% if collections %}
                <div class="panel">
                <form action="{{ url("collections") }}" method="post">
                    {{ csrf_input }}
                    {{ form }}
                    <input type="submit" value="Create Collection" class="button small padding-top padding-bottom half" style="margin:0">
                </form>
                </div>
                {% set headers = ("Collection Name", "Total Size", "Last Modified", "Last Report", "View Files", "Edit Settings") %}
                <table class="small-12 columns">
                <thead>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
                <tr></tr>
                </thead>
                {% for collection in collections %}
                    <tbody>
                    <tr>
                        <td><a href="{{ url("collection", args=(collection.pk,)) }}">{{ collection.name }}</a></td>
                        <td>{{ collection.total_size|filesizeformat }}</td>
                        <td>{{ collection.last_modified.strftime('%B %-d, %Y') }}</td>
                        <td>{{ collection.last_report.strftime('%B %-d, %Y') if collection.last_report else '-' }}</td>
                        <td><a>View Files</a></td>
                        <td><a href="{{ url("collection", args=(collection.pk,)) }}">Edit Settings</a></td>
                    </tr>
                    </tbody>
                {% endfor %}
                </table>
            {% else %}
                <h3>Create your first collection</h3>
                <form action="{{ url("collections") }}" method="post">
                    {{ csrf_input }}
                    {{ form }}
                    <input type="submit" value="Create Collection" class="button small padding-top padding-bottom half left">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}