{% extends "vault/base.html" %}
{% set breadcrumbs = (("Vault", "dashboard"), ("Dashboard", "dashboard")) %}


{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ static("digipres/vendor/fontawesome-free/css/all.min.css") }}" type="text/css">
<link rel="stylesheet" href="{{ static("digipres/css/digipres.css") }}">
<link rel="stylesheet" href="{{ static("digipres/css/bootstrap-cards.css") }}">


<script src="{{ static("digipres/vendor/jquery-twbsPagination/jquery.twbsPagination.min.js") }}"></script>

<script src="{{ static("digipres/js/util.js") }}"></script>
<script src="{{ static("digipres/js/chartalign.js") }}"></script>
<script src="{{ static("digipres/js/pagetransitions.js") }}"></script>
<script src="{{ static("digipres/js/sorttable.js") }}"></script>
<script src="{{ static("digipres/js/Chart.bundle.min.js") }}"></script>
<script src="{{ static("digipres/js/popper.min.js") }}"></script>
{% endblock head %}

{% block header %}{% endblock header %}

{% block header_title %}Dashboard{% endblock header_title %}
{% block sticky_message %}{% endblock sticky_message %}
{% block subnav %}{% endblock subnav %}


{% block content %}
<div id="content-row" class="row">

<div id="dashboard">

<div class="dashboard-col">
    <div class="dashboard-card" id="dashboard-collections">
        <div class="dashboard-card-head">
            Collections (<a href="{{ url("collections") }}">Create New</a>)
        </div>
        <span class="spinner small"></span>
        <div class="dashboard-list"></div>
    </div>
    <div class="dashboard-card" id="collections-chart">
        <span class="spinner small"></span>
        <div class="chart"></div>
    </div>
</div>

<div class="dashboard-col">
    <div class="dashboard-row" style="height: 45%;">
        <div class="dashboard-card">
            <div class="dashboard-card-head" style="text-align: center;" id="dashboard-statistics-title">
                Account Statistics
            </div>
            <div style="display: flex; flex-direction:column; height: 100%; padding-bottom: 50px;">
                <div style="display: flex; flex-direction:row; flex-grow: 1; margin-left: 3%;">
                    <div style="flex-grow:1; text-align:center; margin: auto;">
                        <div class="stats-item" id="dashboard-stats-files">
                            <span class="spinner small"></span>
                            <div class="stats-icon fas fa-copy stats-content"></div>
                            <div class="text-xs font-weight-bold text-uppercase mb-1 stats-content" style="color: #2991CC;">Files</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 stats-value stats-content">
                            </div>
                        </div>
                    </div>
                    <div style="flex-grow:1; text-align:center; margin: auto;">
                        <div class="stats-item" id="dashboard-stats-size">
                            <span class="spinner small"></span>
                            <div class="stats-icon fas fa-database stats-content"></div>
                            <div class="text-xs font-weight-bold text-uppercase mb-1 stats-content" style="color: #2991CC;">Size</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 stats-value stats-content">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; flex-grow: 1;">
                    <div style="flex-grow:1; text-align:center; margin: auto; margin-left: 3%;">
                        <div class="stats-item" id="dashboard-stats-regions">
                            <span class="spinner small"></span>
                            <div class="stats-icon fas fa-map-marker-alt stats-content"></div>
                            <div class="text-xs font-weight-bold text-uppercase mb-1 stats-content" style="color: #2991CC;">Regions</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 stats-value stats-content">
                            </div>
                        </div>
                    </div>
                    <div style="flex-grow:1; text-align:center; margin: auto;">
                        <div class="stats-item" id="dashboard-stats-repl">
                            <span class="spinner small"></span>
                            <div class="stats-icon fas fa-paste stats-content"></div>
                            <div class="text-xs font-weight-bold text-uppercase mb-1 stats-content" style="color: #2991CC;">Avg. Repl.</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 stats-value stats-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-card" id="dashboard-stats-report-card">
            <div class="dashboard-card-head" style="text-align: center;" id="dashboard-report-title">
                Most Recent Report
            </div>
            <div style="display: flex; flex-direction:column; height: 100%; padding-bottom: 50px;">
                <div style="display: flex; flex-direction:row; flex-grow: 1; margin-left: 3%;">
                    <div style="flex-grow:1; text-align:center; margin: auto;">
                        <div class="stats-item" style="min-width: 100px;" id="dashboard-stats-report-date">
                            <span class="spinner small"></span>
                            <div class="stats-icon fas fa-calendar-alt stats-content"></div>
                            <div class="text-xs font-weight-bold text-uppercase mb-1 stats-content" style="color: #2991CC;">Date</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 stats-value stats-content">
                            </div>
                        </div>
                    </div>
                    <div style="flex-grow:1; text-align:center; margin: auto;">
                        <div class="stats-item" id="dashboard-stats-report-errors">
                            <span class="spinner small"></span>
                            <div class="stats-icon fas fa-exclamation-triangle stats-content"></div>
                            <div class="text-xs font-weight-bold text-uppercase mb-1 stats-content" style="color: #2991CC;">Repairs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 stats-value stats-content">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; flex-grow: 1;">
                    <div style="flex-grow:1; text-align:center; margin: auto; margin-left: 3%;">
                        <div class="stats-item" style="min-width: 100px;" id="dashboard-stats-report-files">
                            <span class="spinner small"></span>
                            <div class="stats-icon fas fa-copy stats-content"></div>
                            <div class="text-xs font-weight-bold text-uppercase mb-1 stats-content" style="color: #2991CC;">Files</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 stats-value stats-content">
                            </div>
                        </div>
                    </div>
                    <div style="flex-grow:1; text-align:center; margin: auto;">
                        <div class="stats-item" id="dashboard-stats-report-size">
                            <span class="spinner small"></span>
                            <div class="stats-icon fas fa-database stats-content"></div>
                            <div class="text-xs font-weight-bold text-uppercase mb-1 stats-content" style="color: #2991CC;">Size</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 stats-value stats-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-card" style="min-height: 200px; max-height: 400px; flex-grow: 10;">
        <div style="position: absolute; left: 0; top: 0; bottom: 0; width: 70%;" id="worldmap">
            <div class="dashboard-card-head" style="text-align: center; margin-top: 10px;">
                Regions
            </div>
            <span class="spinner small"></span>
            <div class="chart" style="max-width: 450px; margin: auto; margin-top: -20px;"></div>
        </div>
        <div style="position: absolute; right: 0; top: 10px; bottom: 10px; width: 30%;" id="worldmap-histogram">
            <span class="spinner small"></span>
            <div class="chart" style="right: 20px;"></div>
        </div>
    </div>
</div>

<div class="dashboard-col">
    <div class="dashboard-card" style="max-height: 150px;" id="dashboard-reports">
        <div class="dashboard-card-head">
            Reports
        </div>
        <span class="spinner small"></span>
        <div class="dashboard-list"></div>
    </div>
    <div class="dashboard-card" style="max-height: 200px;" id="temporal-scans-chart">
        <span class="spinner small"></span>
        <div class="chart" style="margin-top: 30px;"></div>
    </div>
    <div class="dashboard-card" id="filetypes-chart">
        <span class="spinner small"></span>
        <div class="chart"></div>
    </div>
</div>

</div>

<script src="{{ static("digipres/js/d3.min.js") }}"></script>
<script src="{{ static("digipres/js/topojson.min.js") }}"></script>
<script src="{{ static("digipres/js/datamaps.world.min.js") }}"></script>

{#<script src="{{ static("digipres/js/dashboard.js") }}"></script>#}
<script type="text/javascript">
    var digipresDashboard = (function () {
    var fetching = 0;
    var initialized = false;
    var userId = "";
    var demoMode = false;
    var activeRequests = {};

    function isInitialized() {
        return initialized && fetching == 0;
    }

    onPageTransition.push(function () {
        for (let request of Object.values(activeRequests)) request.abort();
        activeRequests = {};
        chartalign.unregisterAll();
    });

    var regionDetails = {
        "US West": {
            location: "San Francisco",
            radius: 10,
            country: "USA",
            fillKey: "regions",
            latitude: 37.782523,
            longitude: -130
        }, "EU West": {
            location: "Amsterdam",
            radius: 10,
            country: "Netherlands",
            fillKey: "regions",
            latitude: 52.3546449,
            longitude: 4.8339212
        }, "CA West": {
            location: "Vancouver",
            radius: 10,
            country: "Canada",
            fillKey: "regions",
            latitude: 49.28,
            longitude: -123.12
        }
    };

    function createWorldmap(regions) {
        chartalign.register("#worldmap .chart", function (width, height) {
            return $("<div style=\"position: relative; width: " + width + "px; height: " + height + "px;\"></div>");
        }, function ($el) {
            var bombMap = new Datamap({
                element: $el.get(0),
                scope: 'world',
                geographyConfig: {
                    popupOnHover: false,
                    highlightOnHover: false
                },
                fills: {
                    'countries': '#2a282c',
                    'regions': '#2991cc',
                    defaultFill: '#e3e7e8'
                },
                data: {
                    'USA': {fillKey: 'countries'},
                    'NLD': {fillKey: 'countries'},
                    'CAN': {fillKey: 'countries'},
                }
            });

            var bombs = [];
            for (let region of regions.reverse()) {
                let details = regionDetails[region];
                details.name = region;
                bombs.push(details);
            }

            bombMap.bubbles(bombs, {
                popupTemplate: function (geo, data) {
                    return ['<div class="hoverinfo">' + data.name,
                        '<br/>Location: ' + data.location + '',
                        '<br/>Country: ' + data.country + '',
                        '</div>'].join('');
                }
            });

            return bombMap;
        });
    }

    function createFilesEvolutionChart(labels, dataPoints) {
        chartalign.register("#temporal-scans-chart .chart", function (width, height) {
            return $("<canvas style=\"margin-top: -30px;\"></canvas>").attr("width", width).attr("height", height);
        }, function ($el) {
            return new Chart($el.get(0).getContext("2d"), {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Files",
                        cubicInterpolationMode: "default",
                        lineTension: 0.3,
                        backgroundColor: "#2991cc",
                        borderColor: "#2480b4",
                        pointRadius: 0,
                        pointBackgroundColor: "#2991cc",
                        pointBorderColor: "#2991cc",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "#2991cc",
                        pointHoverBorderColor: "#2991cc",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                        data: dataPoints
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Total Files Deposited'
                    },
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: true,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 7
                            }
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: false,
                                labelString: "Files"
                            },
                            ticks: {
                                maxTicksLimit: 5,
                                padding: 10,
                                callback: function (value, index, values) {
                                    return formatNumber(value, 1);
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        intersect: false,
                        mode: 'index',
                        caretPadding: 10,
                        callbacks: {
                            label: function (tooltipItem, chart) {
                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': ' + formatNumber(tooltipItem.yLabel);
                            }
                        }
                    }
                }
            });
        }, function (chart) {
            chart.destroy();
        });
    }

    function createFilesRegionChart(regions, counts) {
        chartalign.register("#worldmap-histogram .chart", function (width, height) {
            return $("<canvas></canvas>").attr("width", width).attr("height", height);
        }, function ($el) {
            return new Chart($el.get(0), {
                type: 'bar',
                data: {
                    labels: regions,
                    datasets: [
                        {
                            label: "Files",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: counts
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            }
                        }]
                    },
                    legend: {display: false},
                    title: {
                        display: true,
                        text: 'Files per Region'
                    }
                }
            });
        }, function (chart) {
            chart.destroy()
        });
    }

    function createCollectionsChart(collections, fileCounts) {
        chartalign.register("#collections-chart .chart", function (width, height) {
            return $("<canvas></canvas>").attr("width", width).attr("height", height);
        }, function ($el) {
            return new Chart($el.get(0), {
                type: 'doughnut',
                data: {
                    labels: collections,
                    datasets: [
                        {
                            label: "Collections",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#306ccd", "#a27698", "#21ba60", "#e8e6c5", "#c45850", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: fileCounts
                        }
                    ]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: 'Collections Distribution (%)'
                    }
                }
            });
        }, function (chart) {
            chart.destroy();
        });
    }

    function createFiletypesChart(fileTypes, counts) {
        chartalign.register("#filetypes-chart .chart", function (width, height) {
            return $("<canvas></canvas>").attr("width", width).attr("height", height);
        }, function ($el) {
            return new Chart($el.get(0), {
                type: 'doughnut',
                data: {
                    labels: fileTypes,
                    datasets: [
                        {
                            label: "File types",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#306ccd", "#a27698", "#21ba60", "#e8e6c5", "#c45850", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: counts
                        }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'File Types Distribution (%)'
                    }
                }
            });
        }, function (chart) {
            chart.destroy();
        });
    }

    var selectedCollectionId;
    function selectCollection(collectionId, $item) {
        if (isInitialized()) {
            $(".dashboard-list-collection").removeClass("selected");
            if (selectedCollectionId === collectionId) {
                selectedCollectionId = null;
                showReports();
                showStats();
                showFilesEvolutions();
                showSummary();
            } else {
                selectedCollectionId = collectionId;
                $item.addClass("selected");
                showReports(collectionId);
                showStats(collectionId);
                showFilesEvolutions(collectionId);
                showSummary(collectionId);
            }
            selectReport();
        }
    }

    var selectedReportCollectionId;
    var selectedReportId;
    function selectReport(collectionId, reportId, $item) {
        if (isInitialized()) {
            $(".dashboard-list-report").removeClass("selected");
            if (selectedReportCollectionId === collectionId && selectedReportId === reportId) {
                selectedReportCollectionId = null;
                selectedReportId = null;
                showStats(selectedCollectionId);
                showSummary(selectedCollectionId);
            } else {
                selectedReportCollectionId = collectionId;
                selectedReportId = reportId;
                if ($item) $item.addClass("selected");
                if (collectionId && reportId) fetchReportSummary(collectionId, reportId);
            }
        }
    }

    function fetchCollections() {
        var $spinner = $("#dashboard-collections .spinner");
        var url = "{{ url("api_collection") }}" + (demoMode ? "?demo=true" : "");
        fetching += 1;
        activeRequests[url] = $.getJSON(url, function (json) {
            $spinner.hide();
            var $container = $("#dashboard-collections .dashboard-list");
            $container.empty();
            for (let collection of json.collections) {
                let $item = $("<div>").addClass("dashboard-list-item dashboard-list-collection").append([
                    {#$("<span>").text(collection.id),#}
                    $("<span>").text(collection.name),
                ]).click(function () {
                    selectCollection(collection.id, $item);
                });
                $container.append($item);
            }
            fetching -= 1;
        });
    }

    var allReports = [];
    var collectionReports = {};

    function showReports(collectionId) {
        var reports = (collectionId && (collectionReports[collectionId] || [])) || allReports;
        var $container = $("#dashboard-reports .dashboard-list");
        $container.empty();
        if (reports.length === 0) {
            let $item = $("<div>").addClass("dashboard-list-item dashboard-list-report").append([
                $("<span>").text("No Reports"),
            ]);
            $container.append($item);
        }
        for (let report of reports) {
            let label = report.endedAt.substr(0, 10);
            let $item = $("<div>").addClass("dashboard-list-item dashboard-list-report").append([
                $("<span>").text(label),
                $("<span>").addClass("dashboard-list-item-sub").text(" (" + report.collection_name + ")"),
            ]).click(function () {
                selectReport(report.collection_id, report.id, $item);
            });
            $container.append($item);
        }
    }

    function fetchReports() {
        var url = "{{ url("api_reports") }}" + (demoMode ? "?demo=true" : "");
        fetching += 1;
        activeRequests[url] = $.getJSON(url, function (json) {
            for (let report of json.reports) {
                collectionReports[report.collection_id] = collectionReports[report.collection_id] || [];
                collectionReports[report.collection_id].push(report);
            }
            allReports = json.reports;
            showReports();
            $("#dashboard-reports .spinner").hide();
            fetching -= 1;
        });
    }

    function loadStats(selectors) {
        var containers = [];
        for (let selector of selectors) {
            var $container = $(selector);
            var $content = $container.children(".stats-content");
            var $spinner = $container.children(".spinner");
            $content.hide();
            $spinner.show();
            containers.push($container);
        }
        return containers;
    }

    function readyStats(containers) {
        for (let $container of containers) {
            var $content = $container.children(".stats-content");
            var $spinner = $container.children(".spinner");
            $spinner.hide();
            $content.show();
        }
    }

    var accountStats = {};
    var collectionsStats = {};

    function showStats(collectionId) {
        var collectionStats = (collectionId && collectionsStats[collectionId]);
        var stats = collectionStats || accountStats;
        var latest = stats.recentReport || stats || {};

        if (collectionStats) {
            let collectionUrl = "{{ url("collection", args=(0,)) }}";
            collectionUrl = collectionUrl.replace("/0", "/" + collectionId);

            $("#dashboard-statistics-title").empty().append([
                $("<span>").text("Collection Statistics"),
                " (",
                {#$("<a>").attr("href", "/ait/" + userId + "/digipres/collections/" + collectionId + (demoMode ? "?demo=true" : "")).text("browse"),#}
                $("<a>").attr("href", collectionUrl).text("View"),
                ")"
            ]);
        } else {
            $("#dashboard-statistics-title").text("Account Statistics");
        }

        $("#dashboard-stats-files .stats-value").text(formatNumber(stats.fileCount || 0));
        $("#dashboard-stats-size .stats-value").text(formatBytes(stats.totalSize || 0));

        if (latest.latestReport) {
            let reportUrl = "{{ url("report", args=(0,)) }}";
            reportUrl = reportUrl.replace("/0", "/" + latest.latestReportId);

            $("#dashboard-report-title").empty().append([
                $("<span>").text("Most Recent Report"),
                " (",
                {#$("<a>").attr("href", "/ait/" + userId + "/digipres/reports/" + latest.id + "/" + latest.latestReport ).text("show"),#}
                $("<a>").attr("href", reportUrl).text("View"),
                ")"
            ]);
        } else {
            $("#dashboard-report-title").text("Most Recent Report");
        }

        $("#dashboard-stats-report-date .stats-value").text((latest.time || "N/A").substr(0, 10));
        $("#dashboard-stats-report-errors .stats-value").text(formatNumber(latest.errorCount || 0));
        $("#dashboard-stats-report-files .stats-value").text(formatNumber(latest.fileCount || 0));
        $("#dashboard-stats-report-size .stats-value").text(formatBytes(latest.totalSize || 0));
    }

    function fetchStats() {
        var loadContainers = loadStats(["#dashboard-stats-files", "#dashboard-stats-size", "#dashboard-stats-report-date", "#dashboard-stats-report-errors", "#dashboard-stats-report-files", "#dashboard-stats-report-size"]);

        var url = "{{ url("api_collections_stats") }}" + (demoMode ? "?demo=true" : "");
        fetching += 1;
        activeRequests[url] = $.getJSON(url, function (json) {
            var latest;

            accountStats = {};
            for (let collection of json.collections) {
                collectionsStats[collection.id] = collection;
                if (collection.latestReport && (!latest || collection.latestReport > latest.latestReport)) latest = collection;
                accountStats.fileCount = (accountStats.fileCount || 0) + (collection.fileCount || 0);
                accountStats.totalSize = (accountStats.totalSize || 0) + (collection.totalSize || 0);
            }

            accountStats.recentReport = latest;

            showStats();
            readyStats(loadContainers);
            fetching -= 1;
        });
    }


    var accountFilesEvolution = {};
    function showFilesEvolutions(collectionId) {
        if (collectionId) {
            fetchFilesEvolutions(collectionId);
        } else {
            createFilesEvolutionChart(accountFilesEvolution.labels, accountFilesEvolution.dataPoints);
        }
    }

    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    function fetchFilesEvolutions(collectionId) {
        var $filesEvolutionChart = $("#temporal-scans-chart .chart");
        $filesEvolutionChart.hide();
        var $filesEvolutionChartSpinner = $("#temporal-scans-chart .spinner");
        $filesEvolutionChartSpinner.show();

        var url = "{{ url("api_reports_files") }}" + (collectionId ? "/" + collectionId : "") + (demoMode ? "?demo=true" : "");
        fetching += 1;
        activeRequests[url] = $.getJSON(url, function (json) {
            var labels = [];
            var dataPoints = [];
            var collectionsFiles = {};
            for (let report of json.reports) {
                collectionsFiles[report.collection_id] = report.fileCount;
                let totalFileCount = 0;
                for (let fileCount of Object.values(collectionsFiles)) totalFileCount += fileCount;
                dataPoints.push(totalFileCount);
                let year = report.endedAt.substr(2, 2);
                let month = months[parseInt(report.endedAt.substr(5, 2)) - 1];
                labels.push(month + " " + parseInt(report.endedAt.substr(8, 2)) + ", " + year);
            }
            if (labels.length === 1) {
                labels.push(labels[0]);
                dataPoints.push(dataPoints[0]);
            }
            if (!collectionId) {
                accountFilesEvolution.labels = labels;
                accountFilesEvolution.dataPoints = dataPoints;
            }

            $filesEvolutionChartSpinner.hide();
            $filesEvolutionChart.show();
            createFilesEvolutionChart(labels, dataPoints);

            fetching -= 1;
        });
    }

    var accountSummary = {};
    var collectionsSummary = {};

    function showSummary(collectionId) {
        var summary = (collectionId && collectionsSummary[collectionId]) || accountSummary;

        $("#dashboard-stats-repl .stats-value").text(formatNumber(summary.avgReplication || 0, 2));
        $("#dashboard-stats-regions .stats-value").text(formatNumber(Object.keys(summary.regions || {}).length));

        createFiletypesChart(Object.keys(summary.fileTypes || {}), Object.values(summary.fileTypes || {}));
        createWorldmap(Object.keys(summary.regions || {}));
        createFilesRegionChart(Object.keys(summary.regions || {}), Object.values(summary.regions || {}));
    }

    function fetchSummaries() {
        var $collectionsChart = $("#collections-chart .chart");
        $collectionsChart.hide();

        var $filetypesChart = $("#filetypes-chart .chart");
        $filetypesChart.hide();
        var $filetypesChartSpinner = $("#filetypes-chart .spinner");
        $filetypesChartSpinner.show();

        var $worldMap = $("#worldmap .chart");
        $worldMap.hide();
        var $worldMapSpinner = $("#worldmap .spinner");
        $worldMapSpinner.show();

        var $filesRegionChart = $("#worldmap-histogram .chart");
        $filesRegionChart.hide();
        var $filesRegionChartSpinner = $("#worldmap-histogram .spinner");
        $filesRegionChartSpinner.show();

        var loadContainers = loadStats(["#dashboard-stats-repl", "#dashboard-stats-regions"]);

        var url = "{{ url("api_collections_summary") }}" + (demoMode ? "?demo=true" : "");
        fetching += 1;
        activeRequests[url] = $.getJSON(url, function (json) {
            var collections = [];
            var fileCounts = [];
            var filesTotal = 0;
            var weightedReplAvgSum = 0.0;
            var fileTypes = {};
            var regions = {};

            for (let collection of json.collections) {
                collectionsSummary[collection.id] = collection;
                collections.push(collection.name);
                fileCounts.push(collection.fileCount || 1);
                filesTotal += collection.fileCount || 0;
                weightedReplAvgSum += ((collection.avgReplication || 0) * (collection.fileCount || 0));
                for (let fileType of Object.keys(collection.fileTypes || {})) {
                    fileTypes[fileType] = (fileTypes[fileType] || 0) + collection.fileTypes[fileType];
                }
                for (let region of Object.keys(collection.regions || {})) {
                    regions[region] = (regions[region] || 0) + collection.regions[region];
                }
            }

            accountSummary.fileTypes = fileTypes;
            accountSummary.regions = regions;
            accountSummary.avgReplication = filesTotal > 0 ? weightedReplAvgSum / filesTotal : 0;

            $("#collections-chart .spinner").hide();
            $collectionsChart.show();
            createCollectionsChart(collections, fileCounts);

            $filetypesChartSpinner.hide();
            $filetypesChart.show();
            $worldMapSpinner.hide();
            $worldMap.show();
            $filesRegionChartSpinner.hide();
            $filesRegionChart.show();

            showSummary();

            readyStats(loadContainers);

            fetching -= 1;
        });
    }

    function fetchReportSummary(collectionId, reportId) {
        let reportUrl = "{{ url("report", args=(0,)) }}";
        reportUrl = reportUrl.replace("/0", "/" + reportId);
        $("#dashboard-report-title").empty().append([
            $("<span>").text("Report Statistics"),
            " (",
            $("<a>").attr("href", reportUrl).text("View"),
            ")"
        ]);

        var $filetypesChart = $("#filetypes-chart .chart");
        $filetypesChart.hide();
        var $filetypesChartSpinner = $("#filetypes-chart .spinner");
        $filetypesChartSpinner.show();

        var $worldMap = $("#worldmap .chart");
        $worldMap.hide();
        var $worldMapSpinner = $("#worldmap .spinner");
        $worldMapSpinner.show();

        var $filesRegionChart = $("#worldmap-histogram .chart");
        $filesRegionChart.hide();
        var $filesRegionChartSpinner = $("#worldmap-histogram .spinner");
        $filesRegionChartSpinner.show();

        var loadContainers = loadStats(["#dashboard-stats-report-date", "#dashboard-stats-report-errors", "#dashboard-stats-report-files", "#dashboard-stats-report-size"]);

        {# gross, but lets us avoid hard-coding the URL #}
        var url = "{{ url("api_report_summary", args=(0, 0)) }}";
        var url_end =  "/" + collectionId + "/" + reportId + (demoMode ? "?demo=true" : "");
        url = url.replace("/0/0", url_end);
        {# end gross #}

        fetching += 1;
        activeRequests[url] = $.getJSON(url, function (report) {
            $("#dashboard-stats-report-date .stats-value").text((report.endedAt || "").substr(0, 10));
            $("#dashboard-stats-report-errors .stats-value").text(formatNumber(report.errorCount || 0));
            $("#dashboard-stats-report-files .stats-value").text(formatNumber(report.fileCount || 0));
            $("#dashboard-stats-report-size .stats-value").text(formatBytes(report.totalSize || 0));

            readyStats(loadContainers);

            $filetypesChartSpinner.hide();
            $filetypesChart.show();
            createFiletypesChart(Object.keys(report.fileTypes), Object.values(report.fileTypes));

            $worldMapSpinner.hide();
            $worldMap.show();
            createWorldmap(Object.keys(report.regions));

            $filesRegionChartSpinner.hide();
            $filesRegionChart.show();
            createFilesRegionChart(Object.keys(report.regions), Object.values(report.regions));

            fetching -= 1;
        });
    }

    function init(user, demo) {
        userId = user;
        demoMode = demo;
        Chart.defaults.global.defaultFontFamily = 'Nunito,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';
        fetchCollections();
        fetchReports();
        fetchStats();
        fetchFilesEvolutions();
        fetchSummaries();
        initialized = true;
    }

    return {
        init: init
    }
})();
</script>

<script type="text/javascript">
    $(function () {
        digipresDashboard.init("{{ user.username }}", false);
    });
</script>

</div>
{% endblock content %}