{% extends "vault/base.html" %}

{% block head_deposit %}
    <script src="/vault/static/js/flow.min.js"></script>
{% endblock head_deposit %}

{% block header_title %}Deposit Flow{% endblock header_title %}
{% block sticky_message %}{% endblock sticky_message %}
{% block subnav %}
{% endblock subnav %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <h2>Deposit Flow</h2>
        {% if collections %}
        <form>
            {{ collection_form }}
        </form>
        {% endif %}
        <button id="browseFilesButton">Browse Files</button>
        <button id="browseDirectoriesButton">Browse Directories</button>
        <div id="dropTarget" style="background-color:lightgreen; height: 10em; width: 10em; vertical-align: center" onMouseOver="this.style.backgroundColor='darkgreen'" onMouseOut="this.style.backgroundColor='lightgreen'"><p style="text-align: center; vertical-align: center">Drag and Drop</p></div>
{#        <button id="flowPost" onclick="flow.upload()">Upload</button>#}
        <button id="flowPost" onclick="start_deposit(flow, files)">Upload</button>
    </div>
</div>
<script>
var flow = new Flow({
  target:'{{ url("api_flow_chunk") }}',
  query:{upload_token:'my_token'},
  simultaneousUploads: 3,
});
flow.assignBrowse(document.getElementById('browseFilesButton'));
flow.assignBrowse(document.getElementById('browseDirectoriesButton'), true);
flow.assignDrop(document.getElementById('dropTarget'));

let files = [];

flow.on('fileAdded', function(file, event){
    console.log(file, event);
    let new_file = {
        "flow_identifier": file.uniqueIdentifier,
        "name": file.name,
        "relative_path": file.relativePath,
        "size": file.size,
        "type": file.file.type,
        "pre_deposit_modified_at": new Date(file.file.lastModified).toISOString(),
    };
    files.push(new_file);
});
flow.on('fileSuccess', function(file,message){
    console.log(file,message);
});
flow.on('fileError', function(file, message){
    console.log(file, message);
});
function start_deposit(flow, files) {
    let coll_input = document.getElementById("id_collection");
    let collection_id = coll_input.options[coll_input.selectedIndex].value;

    function start(response) {
        console.log(response);
        let res = JSON.parse(response);
        flow.opts.query.depositId = res.deposit_id;
        flow.upload();
    }

    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            start(xhr.response);
        }
    }

    xhr.open("POST", "{{ url("api_register_deposit") }}", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    let payload = {
        "collection_id": collection_id,
        "files": files,
    }
    xhr.send(JSON.stringify(payload));
}

</script>
{% endblock content %}