{% extends "vault/deposit.html" %}

{% block head_deposit %}
    <script src="/vault/static/js/flow.min.js"></script>
{% endblock head_deposit %}

{% set active_subnav = "test" %}
{% set breadcrumbs = (("Vault", "dashboard"), ("Deposit", "deposit"), ("Web Uploader", "deposit_flow")) %}
{% block content %}
<style>
    .area {
        width: 40em;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }
    #dropTarget {
        border: 2px dashed #bbb;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 50px;
        text-align: center;
        font: 21pt bold arial;
        color: #bbb;
        background-color: white;
    }
    #progress_bar_flow {
        height: 24px;
        display: none;
        padding: 0;
        margin-top: 0.3rem;
        margin-left: 15px;
    }
    #flow-stats {
        margin: 0;
        padding: 0;
        display: flex;
        padding-top: 0.5rem;
    }
    #span_stats {
        display: flex;
    }
    .loader {
        margin-left: 5px;
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 18px;
        height: 18px;
        animation: spin 1.1s linear infinite;
    }

    #warningModal_id {
        
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        
    }

    .skipBtn {
        background-color: darkgreen;
    }

    .rewriteBtn{
        background-color: red;
    }

    .warningModalContent{
        width: 900px; 
        height: 400px; 
        overflow: auto; 
        box-shadow: 0px 0px 15px #348fc6; 
        border-radius: 8px;
    }

    .skip-button:hover {
        box-shadow: 0 5px 5px 0 lightgreen;
    }

    #skipall:hover {
        box-shadow: 0 5px 5px 0 lightgreen;
    }

    .rewrite-button:hover {
        box-shadow: 0 5px 5px 0 lightcoral;
    }

    #rewriteall:hover {
        box-shadow: 0 5px 5px 0 lightcoral;
    }

    .confirm-button {
        border-radius: 28px;
        padding: 7px 30px;
        margin-top: -12px;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<div class="row">
    <div class="small-8 columns">
        <h3>Upload Files</h3>
        {% if collections %}
        <form>
            {{ collection_form }}
        </form>
        
        <button class="button small padding-top padding-bottom half left" id="browseFilesButton">Browse Files</button>
        <button class="button small padding-top padding-bottom half left margin-left half" id="browseDirectoriesButton">Browse Folders</button>
        <div class="area">
            <div id="dropTarget"><p style="text-align: center; vertical-align: center">Drop Files here</p></div>
        </div>
        <input id="organization_quota" name="organization_quota" type="hidden" value="{{ request.user.organization.quota_bytes }}">
        <input id="total_used_quota" name="total_used_quota" type="hidden" value="{{ total_used_quota }}">
        <div>
            <div id="warning"></div>
        </div>
        <div>
            <div>
                <button class="button small padding-top padding-bottom half left margin-right half" id="flowPost" onclick="start_deposit(flow, files)">Upload</button>
            </div>
            <div id="span_stats">
                <div id="flow-stats"></div>
                <progress id="progress_bar_flow" value="0" max="100" disabled="true"> 0% </progress>
            </div>
        </div>
        {% else %}
            <p>Create <a href="{{ url("collections") }}">your first collection</a> to start uploading files.</p>
        {% endif %}
    </div>
    <div class="small-4 columns" id="collections-chart">
        <span class="spinner small"></span>
    </div>
</div>



<!-- Create Collection Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Create a new Collection</h3>
        </div>
        <form id="create_collection">
            {{ csrf_input }}
            <div class="modal-body">
                <input id="collection_name" type="text" placeholder="Enter Collection Name" required />
            </div>
            <div class="modal-footer">
                <input type="submit" value="Create Collection" class="button small" id="create_collection_submit_btn">
            </div>
            <div id="modal-message"></div>
        </form>
    </div>
</div>

<!-- Warning Modal -->
<div id="warningModal_id" class="modal">
    <!-- Modal content -->
    <div class="modal-content warningModalContent">
        <div class="modal-header" >
            <div style="text-align: center; margin-bottom: -12px;"><strong>WARNING!</strong> You are over writing these files: </div><br>
            <div id="warningHeader" style="text-align: center;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


var flow = new Flow({
  target:'{{ url("api_flow_chunk") }}',
  query:{upload_token:'my_token'},
  simultaneousUploads: 3,
  speedSmoothingFactor: 0.0001,
  progressCallbacksInterval: 150,
  allowDuplicateUploads: true
});

flow.assignBrowse(document.getElementById('browseFilesButton'));
flow.assignBrowse(document.getElementById('browseDirectoriesButton'), true);
flow.assignDrop(document.getElementById('dropTarget'));

let files = [];
let upload_size = 0;
let currentDepositId = undefined;
let files_dict = {};
let flowfile_objects_dict = {};

function hashCode(str) {
    return str.split('').reduce((prevHash, currVal) =>
        (((prevHash << 5) - prevHash) + currVal.charCodeAt(0))|0, 0);
}

let flow_object_array = [];
flow.on('fileAdded', function(file, event){
    let new_file = {
        "flow_identifier": file.uniqueIdentifier,
        "name": file.name,
        "relative_path": file.relativePath,
        "size": file.size,
        "type": file.file.type,
        "pre_deposit_modified_at": new Date(file.file.lastModified).toISOString(),
    };
    files.push(new_file);
    flowfile_objects_dict[String(file["relativePath"])] = file;
    // dictionary with relative path as key
    files_dict[String(new_file["relative_path"])] = new_file;
    upload_size += new_file["size"];
    document.querySelector('#flow-stats').innerHTML = files.length + ' files selected. Total Upload Size: ' + formatBytes(upload_size);
});

flow.on('fileSuccess', function(file,message){});

flow.on('fileError', function(file, message){
    console.log(file, message);
    btn = document.getElementById("flowPost");
    btn.innerHTML = "Upload";
    btn.disabled = false;
    document.querySelector('#flow-stats').innerHTML = "Error Uploading";
});

function changeStats() {
    if($('#id_collection').find(":selected").val() != ""){
        document.querySelector('#flow-stats').innerHTML = files.length + ' files selected. Total Upload Size: ' + formatBytes(upload_size);
    }
}

document.getElementById('id_collection').addEventListener("change", changeStats);

function deposit_status(time) {
    if (currentDepositId == undefined) {
        console.error("Deposit Id not defined");
    }
    let xhr = new XMLHttpRequest();
    xhr.open("GET", "{{ url("api_deposit_status") }}?deposit_id="+currentDepositId);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send();
    xhr.onloadend = function() {
        if (xhr.status == 200) {
		    res = JSON.parse(xhr.response);
            let message = "Processing Files: " + res["hashed_files"] + "/"  + res["total_files"] + '<div class="loader"></div>';
            document.querySelector('#flow-stats').innerHTML = message;
            // if (time > 60) { // Processing files taking longer than 60 seconds
            //     console.error("Timeout: Processing files taking longer than 60 seconds");
            //     document.querySelector('#flow-stats').innerHTML = "Error Processing Files";
            //     return;
            // }
            if (res["hashed_files"] < res["total_files"]) {
                setTimeout(function(){;
                deposit_status(time + 1) }, 1000);
            }
            else {
                document.querySelector('#flow-stats').innerHTML = "Upload Complete";
            }
        }
        else {
            console.error("API Error: Cannot Fetch Status of API");
            document.querySelector('#flow-stats').innerHTML = "API Error: Cannot Fetch Deposit Status";
            return;
        }
    }
}

flow.on('complete', function(){
    document.querySelector('#flow-stats').innerHTML = "Upload Complete";
    btn = document.getElementById("flowPost");
    btn.innerHTML = "Upload";
    btn.disabled = false;
    files = [];
    upload_size = 0;
    document.querySelector("#progress_bar_flow").style.display = 'none';
    deposit_status(0);
});

let initial_time = 0;
let sum_speed = 0;
let counter = 0;
flow.on('progress', function() {
    if (flow.progress() == 0) {
        initial_time = new Date().getSeconds()
        return
    }
    counter ++;
    let uploaded_size = flow.sizeUploaded()
    let passed_time = new Date().getSeconds() - initial_time
    let speed = uploaded_size / passed_time
    sum_speed += speed
    avg_speed = sum_speed / counter
    let total_file_size = flow.getSize()
    let time_remaining = (total_file_size - uploaded_size) / avg_speed
    document.querySelector('#flow-stats').innerHTML = "Uploading Files (Time Remaining: " + parseInt(time_remaining) + "s )";
    document.querySelector('#progress_bar_flow').value = flow.progress()*100;
});
    
let total_overlapping_paths = 0; // total count of overlapping paths
let total_overlapping_files = 0; // total count of overlapping files

let warning_tag = document.getElementById("warning");
            
let warningheader = document.getElementById("warningHeader");

function start_deposit(flow, files) {

    if ($('#id_collection').find(":selected").val() == "") {
        document.querySelector('#flow-stats').innerHTML = '<b>Please select a collection</b>';
        return;
    }

    if (files.length === 0) {
        document.querySelector('#flow-stats').innerHTML = '<b>Please select files/folders to upload.</b>';
        return;
    }

    let coll_input = document.getElementById("id_collection");
    let collection_id = coll_input.options[coll_input.selectedIndex].value;

    btn = document.getElementById("flowPost");
    btn.innerHTML = "Uploading...";
    btn.disabled = true;
    document.querySelector('#flow-stats').innerHTML = "";
    
    let xhr = new XMLHttpRequest();

    xhr.open("POST", "{{ url("api_warning_deposit") }}", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    let payload = {
        "collection_id": collection_id,
        "files": files,
        "total_size": upload_size
    }
    xhr.send(JSON.stringify(payload));
    xhr.onloadend = function() {
        
        if (xhr.status == 200) {
            response = JSON.parse(xhr.response);
            let objects_list = response["objects"] // All matched files
            let path_list = response["relative_path"]
               
            const files_list = []
            const paths = []
            
            for (let index = 0; index < objects_list.length; index++) {
                let element = objects_list[index];
                let file_name = element["name"];
                files_list.push(file_name);
            }

            for (let index = 0; index < path_list.length; index++) {
                let path_element = path_list[index];
                paths.push(path_element);

            }
            
            if (files_list.length > 0){

                overlappedFiles(files_list, false);
                
            } else if (paths.length > 0){

                overlappedFiles(paths, false);
            }
            else {
                registerDeposit(files)
            }

            // reversing all the actions after clicking outside the window and again on upload button
            SkipRewriteBtns = $(".skiprewrite")
            for (let index = 0; index < SkipRewriteBtns.length; index++) {
                const button = SkipRewriteBtns[index];
                if (button.disabled){
                    button.disabled = false;
                }
                if(!$(button).parent().hasClass('path-not-selected')){

                    $(button).parent().addClass('path-not-selected')
                }
            }
         
        }

    }
}

function replaceClass(skip_or_rewrite_element){
    if (skip_or_rewrite_element.hasClass('path-not-selected')) {
        skip_or_rewrite_element.removeClass('path-not-selected')
        skip_or_rewrite_element.addClass('path-selected')
    }
}

skip_path_array = [];

skip_rewrite_id_dict = {};

// Start of warning function
    
function overlappedFiles(overlapped_files_list, confirm_button_status){
    
    // Get the modal
    let warning_modal = document.getElementById("warningModal_id");

    // When the user clicks on the button, open the modal
    warning_modal.style.display = "block";

    // Skip All and Rewrite All Buttons
    warningheader.innerHTML = '<br>' + '<button class="button small skipBtn" id="skipall" style = "margin-right: 10px; margin-left: 10px; border-radius: 20px; padding: 10px 20px 10px 20px;"> Skip All </button><button class="button small rewriteBtn" id="rewriteall" style = "border-radius: 20px; padding: 10px 20px 10px 20px;"> Rewrite All</button>' + `<div id = "files_count" style = "font-style: italic; margin-bottom: 20px;"><b>Remaining files to select: </b>${overlapped_files_list.length} </div>`;

    // Adding Confirm button before all rows
    warningheader.innerHTML += `<br><button class="confirm-button"> Confirm </button><div id="confirmBtn1text"></div><br><br>` 


    for (let index = 0; index < overlapped_files_list.length; index++) {

        let file_element = overlapped_files_list[index];
    
        // Adding Skip and Rewrite buttons after every matched path
        warningheader.innerHTML += '<div class="path-not-selected" id="' + String(index) + '" style = " margin-bottom: 0px; display: flex; box-sizing: border-box; flex-wrap: wrap; height: 32px; vertical-align: middle;">' + '<div style="margin-top: 7px; height: 42px; display:inline-block; box-sizing: border-box; flex: 60%; max-width: 500px; left: 0px; text-align: left; vertical-align: middle;" id = "text" >'+ file_element + '</div>' + '<button class="button small skip-button skiprewrite skipBtn " style = "border-radius: 20px; right: -190px; height: 36px; padding: 7px 15px 7px 15px; position: relative;"> Skip </button><button class="button small rewrite-button skiprewrite rewriteBtn " style = "border-radius: 20px; height: 36px; right: -200px; padding: 7px 15px 7px 15px; margin-right: 0px;"> Rewrite </button></div><hr>';
    }
    
    // Adding another Confirm button after all rows
    warningheader.innerHTML += `<br><button class="confirm-button"> Confirm </button>`

    if (confirm_button_status) {

        // displaying the message if no action is performed on all the paths
        document.getElementById('confirmBtn1text').innerHTML = '<b>Please select skip or rewrite on all files</b>'
        warningheader.innerHTML += '<div><b>Please select skip or rewrite on all files</b></div>'
        
        // Changing the text after clicking on confirm button
        document.getElementById('skipall').innerHTML = 'Skip Remaining';
        document.getElementById('rewriteall').innerHTML = 'Rewrite Remaining';

        // maintaining all the previous actions after clicking on confirm button
        for (var key in skip_rewrite_id_dict){

            // here key is id and value is skip or rewrite
            // getting skip and rewrite elements from the same id
            skip_element = $('#' + key)[0].childNodes[1]
            rewriteElement = $('#' + key)[0].childNodes[2]
            
            value = skip_rewrite_id_dict[key]
            if (value == "skip") {
                skip_element.disabled = true;
            } else {
                rewriteElement.disabled = true;
            }

            // removing this class to remove the element from path-not-selected list
            $('#' + key).removeClass('path-not-selected')
        }

        not_selected_paths = document.querySelectorAll(".path-not-selected")
        document.getElementById('files_count').innerHTML = '<b>Remaining files to select: </b>' + not_selected_paths.length;
    }

    // collecting both the confirm buttons to add event listeners
    confirm_buttons = document.querySelectorAll(".confirm-button");
    confirm_buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            not_selected_paths = document.querySelectorAll(".path-not-selected")
            // if no action is performed on all paths, repeat the same function with previous changes
            if (not_selected_paths.length > 0) {
                // setting confirm button status as true after the user clicks on confirm button
                overlappedFiles(overlapped_files_list, true)
            } else {

                warning_modal.style.display = "none";

                for (let index = 0; index < skip_path_array.length; index++) {
                    const path = skip_path_array[index];
                    // Removing the skipped file from upload queue by relative path
                    flow.removeFile(flowfile_objects_dict[path]);
                    
                    // Deleting elements from dictionary by relative path
                    delete files_dict[path]
                }

                let final_deposit_list = Object.values(files_dict);
                registerDeposit(final_deposit_list)
            }

        });
    });

    // Skip All Button
    SkipAllBtn = document.getElementById('skipall');
    RewriteAllBtn = document.getElementById('rewriteall');
    SkipAllBtn.onclick = function(){
        SkipAllBtn.style.backgroundColor = 'darkgreen';
        not_selected_elements = $('.path-not-selected')
        for (let index = 0; index < not_selected_elements.length; index++) {
            let parent_element = not_selected_elements[index];
            file_path = parent_element.childNodes[0].innerText
            // appending skip path array with the file path
            skip_path_array.push(file_path)
            // Disable all not selected skip buttons after clicking on Skip All/Skip remaining button
            parent_element.childNodes[1].disabled = true;
            // Replacing the class by path-selected
            $(parent_element).removeClass('path-not-selected');
            $(parent_element).addClass('path-selected');
        }

        document.getElementById('files_count').innerHTML = '<b>Remaining files to select: </b>' + 0;
    }

    // Rewrite All Button
    RewriteAllBtn.onclick = function(){
        RewriteAllBtn.style.backgroundColor = 'red';
        // Disable all rewrite buttons after clicking on Rewrite All button
        not_selected_elements = $('.path-not-selected')
        for (let index = 0; index < not_selected_elements.length; index++) {
            let parent_element = not_selected_elements[index];
            // Disable all not selected rewrite buttons after clicking on Rewrite All/Rewrite remaining button
            parent_element.childNodes[2].disabled = true;
            // Replacing the class by path-selected
            $(parent_element).removeClass('path-not-selected');
            $(parent_element).addClass('path-selected');
        }

        document.getElementById('files_count').innerHTML = '<b>Remaining files to select: </b>' + 0;
    }

    // Rewrite Button
    document.querySelectorAll('.rewrite-button').forEach(function(el) {
        el.addEventListener('click', function() {

            SkipAllBtn.innerHTML = 'Skip Remaining';
            RewriteAllBtn.innerHTML = 'Rewrite Remaining';

            // disable the button after a click
            el.disabled = true;

            rewrite_id = $(this).parent()[0].id
            rewrite_parent_element = $(this).parent()

            file_path = $(this).prev().prev()[0].innerText;

            skip_button = $(this).prev()[0]

            // Storing the ids of path in dictionary with respect to specific action
            skip_rewrite_id_dict[parseInt(rewrite_id)] = "rewrite"
            // e.g. - skip_rewrite_id_dict = {0: rewrite}

            // Replacing the class by 'path-selected' after clicking on rewrite button

            replaceClass(rewrite_parent_element)

            // if the user clicks first on skip button, and then clicks on rewrite button, skip button should get enabled
            if (skip_button.disabled == true) {
                skip_button.disabled = false;

                // Remove the path from skip path array after clicking on rewrite button
                var path_index = skip_path_array.indexOf(file_path);
                skip_path_array.splice(path_index, 1);
                
            }

            not_selected_paths = document.querySelectorAll(".path-not-selected")
            document.getElementById('files_count').innerHTML = '<b>Remaining files to select: </b>' + not_selected_paths.length;

        });
    });

    // Skip Button
    skip_list = [];
    document.querySelectorAll('.skip-button').forEach(function(el) {
        el.addEventListener('click', function() {

            SkipAllBtn.innerHTML = 'Skip Remaining';
            RewriteAllBtn.innerHTML = 'Rewrite Remaining';
            
            el.disabled = true;

            skip_id = $(this).parent()[0].id

            skip_parent_element = $(this).parent()

            file_path = $(this).prev()[0].innerText;
            
            rewrite_button = $(this).next()[0]

            // Storing the ids of path in dictionary with respect to specific action
            skip_rewrite_id_dict[parseInt(skip_id)] = "skip"
            // e.g. - skip_rewrite_id_dict = {0: skip}

            // Replacing the class by 'path-selected' after clicking on skip button
            replaceClass(skip_parent_element)

            // if the user clicks first on rewrite button, and then clicks on skip button, rewrite button should get enabled
            if (rewrite_button.disabled == true) {
                rewrite_button.disabled = false;
            }

            skip_path_array.push(file_path)

            not_selected_paths = document.querySelectorAll(".path-not-selected")

            document.getElementById('files_count').innerHTML = '<b>Remaining files to select: </b>' + not_selected_paths.length;

        });
    });

    // When the user clicks anywhere outside the window, close it
    window.onclick = function(event) {
        if (event.target == warning_modal) {
            warning_modal.style.display = "none";
            btn = document.getElementById("flowPost");
            btn.innerHTML = "Upload";
            btn.disabled = false;
            document.getElementById('progress_bar_flow').style.display = 'none';
            // Empty skip files array to undo skip actions
            skip_path_array = [];
            
        }
    }
}

function start(response) {
    let res = JSON.parse(response);
    flow.opts.query.depositId = res.deposit_id;
    currentDepositId = flow.opts.query.depositId;
    
    flow.upload();
}

function registerDeposit(remaining_files){

    btn = document.getElementById("flowPost");
    btn.innerHTML = "Uploading...";
    btn.disabled = true;
    document.querySelector('#flow-stats').innerHTML = "";

    //Showing progress bar
    document.getElementById('progress_bar_flow').style.display = 'inline-block';

    let coll_input = document.getElementById("id_collection");
    let collection_id = coll_input.options[coll_input.selectedIndex].value;

    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            start(xhr.response);
        }
    }

    xhr.open("POST", "{{ url("api_register_deposit") }}", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    let payload = {
        "collection_id": collection_id,
        "files": remaining_files,
        "total_size": upload_size
    }
    xhr.send(JSON.stringify(payload));
    xhr.onloadend = function() {    

        if (xhr.status == 200) {

            response = JSON.parse(xhr.response);
            let deposit_id = response["deposit_id"]
        }
    }
}


/// HELPER FUNCTIONS /// 
const formatBytes = (bytes, decimals = 2) => {
    if (bytes === 0) return '0 Bytes';

    const k = 1024;
    const dm = decimals < 0 ? 0 : decimals;
    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

    const i = Math.floor(Math.log(bytes) / Math.log(k));

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
};

const createQuotaDonut = () => {
        let data = [];
        data.push((parseInt(document.querySelector("#total_used_quota").value)/1024**3).toFixed(5));
        data.push( (
            parseInt(
                document.querySelector("#organization_quota").value -
                document.querySelector("#total_used_quota").value
            )/1024 ** 3 ).toFixed(5)
        );
        createCollectionsChart(["Used", "Available"], data);
    };

window.onload = function () {
    $("label[for='id_collection']").html("Collections:  <a href='javascript:void(0);' onclick='show_modal();'>Create a new Collection</a>")
    createQuotaDonut();

}

</script>
<script src="{{ static("digipres/js/chartalign.js") }}"></script>
<script src="{{ static("digipres/js/Chart.bundle.min.js") }}"></script>
<script type="text/javascript">
    $("#collections-chart .spinner").hide();
    function createCollectionsChart(collections, fileCounts) {
        $("#collections-chart .chart-container").remove();
        chartalign.register("#collections-chart", function () {
            return $("<canvas></canvas>").attr("width", '50px').attr("height", '45px');
        }, function ($el) {
            return new Chart($el.get(0), {
                type: 'doughnut',
                data: {
                    labels: collections,
                    datasets: [
                        {
                            label: "Collections",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#306ccd", "#a27698", "#21ba60", "#e8e6c5", "#c45850", "#3cba9f", "#e8c3b9", "#c45850"],
                            data: fileCounts
                        } 
                    ]
                },
                options: {  
                    legend: {display: false},
                    title: {
                        display: true,
                        text: 'Quota (in GB)'
                    }
                }
            });
        }, function (chart) {
            chart.destroy();
        });
    }
    </script>
{% endblock content %}