{% extends "vault/base.html" %} {% block header %}{% endblock header %} {% block
sticky_message %}{% endblock sticky_message %} {% block content %}
<!-- TODO: Refactor this file -->
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<style>
  #menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background: #fff;
    color: #555;
    font-family: sans-serif;
    font-size: 11px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    padding: 0px;
    border: 1px solid #c6c6c6;
  }

  #menu a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 6px 8px 6px 30px;
    width: 250px;
    position: relative;
  }

  #menu a img,
  #menu a i.fa {
    height: 20px;
    font-size: 17px;
    width: 20px;
    position: absolute;
    left: 5px;
    top: 2px;
  }

  #menu a span {
    color: #bcb1b3;
    float: right;
  }

  #menu a:hover {
    color: #fff;
    background: #3879d9;
  }
  table {
    margin-top: 6rem;
    margin-bottom: 0rem;
  }
  table thead tr th,
  table thead tr td {
    padding: 0 0.7rem 0rem 0.7rem;
  }
</style>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <th>Name</th>
        <th>Date Modified</th>
        <th>Size</th>
        <th>Type</th>
      </thead>
      <tbody>
        {% if path != "" %}
        <td>
          <a
            class="notepad"
            href="/meta/files/{{'/'.join(path[:-1].split('/')[:-1])[1:]}}"
            >Back</a
          >
        </td>
        <td></td>
        <td></td>
        <td></td>
        {% endif %} {% for item in items %}
        <tr>
          {% if item.node_type == "COLLECTION" or item.node_type == "DIRECTORY"
          %}
          <td>
            <a
              class="notepad"
              href="/meta/files/{{path[1:] + '/' + item.name if path else item.name }}"
            >
              {{item.name}}
            </a>
          </td>
          {% else %}
          <td>{{item.name.split("/")[-1] }}</td>
          {% endif %}
          <td>{% if item.pre_deposit_modified_at is none %}{% if item.modified_at is none %}-{% else %}{{ item.modified_at.strftime('%Y-%m-%d') }}{% endif %}{% else %}{{item.pre_deposit_modified_at.strftime('%Y-%m-%d')}}{% endif %}</td>
          <td>{% if item.size is none %}-{% else %}{{item.size|filesizeformat }}{% endif %}</td>
          <td>{{ item.node_type[0]}}{{item.node_type[1:] | lower }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div id="menu">
  <a href="#"> Rename </a>
  <a href="javascript:void(0);" onclick="show_modal();"> Move </a>
  <!-- <a href="#">
    <i class="fa fa-fort-awesome"></i> Fort Awesome <span>Ctrl + ?!</span>
  </a>
  <a href="#">
    <i class="fa fa-flag"></i> Font Awesome <span>Ctrl + ?!</span>
  </a> -->
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3>Move</h3>
    </div>
    <form id="create_collection">
      {{ csrf_input }}
      <div class="modal-body">
        <input
          id="collection_name"
          type="text"
          placeholder="Enter Source Folder Path"
          required
        />
        <input
          id="collection_name"
          type="text"
          placeholder="Enter Destination Folder Path"
          required
        />
      </div>
      <div class="modal-footer">
        <input
          type="submit"
          value="Move"
          class="button small"
          id="create_collection_submit_btn"
        />
      </div>
      <div id="modal-message"></div>
    </form>
  </div>
</div>
<script>
  var elements = Object.values(document.getElementsByClassName("notepad"));
  console.log(elements);
  var i = document.getElementById("menu").style;
  elements.forEach((element) => {
    element.addEventListener(
      "contextmenu",
      function (e) {
        var posX = e.clientX;
        var posY = e.clientY;
        menu(posX, posY);
        e.preventDefault();
      },
      false
    );
  });

  document.addEventListener(
    "click",
    function (e) {
      i.opacity = "0";
      setTimeout(function () {
        i.visibility = "hidden";
      }, 501);
    },
    false
  );

  function menu(x, y) {
    i.top = y + "px";
    i.left = x + "px";
    i.visibility = "visible";
    i.opacity = "1";
  }
</script>
{% endblock content %}
