{% extends "vault/base.html" %}
{% set breadcrumbs = (("Vault", "dashboard"), ("Collections", "collections"), (collection.name, "collections/" + collection.name), ("Fixity Report For " + collection.name + " on " + report.ended_at.strftime("%Y-%m-%d"), "reports/fixity/" + report.pk|string)) %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ static("digipres/vendor/fontawesome-free/css/all.min.css") }}" type="text/css">
<link rel="stylesheet" href="{{ static("digipres/css/digipres.css") }}">
<link rel="stylesheet" href="{{ static("digipres/css/bootstrap-cards.css") }}">


{#<script src="{{ static("digipres/vendor/jquery-twbsPagination/jquery.twbsPagination.min.js") }}"></script>#}

<script src="{{ static("digipres/js/util.js") }}"></script>
<script src="{{ static("digipres/js/chartalign.js") }}"></script>
{#<script src="{{ static("digipres/js/pagetransitions.js") }}"></script>#}
{#<script src="{{ static("digipres/js/sorttable.js") }}"></script>#}
<script src="{{ static("digipres/js/Chart.bundle.min.js") }}"></script>
{#<script src="{{ static("digipres/js/popper.min.js") }}"></script>#}
{% endblock head %}

{% block header_title %}Fixity Report For {{ collection.name }} on {{ report.ended_at.strftime("%Y-%m-%d") }}{% endblock header_title %}
{% block sticky_message %}{% endblock sticky_message %}
{% block subnav %}{% endblock subnav %}
{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <br>
            <br>
        <h1>Fixity Report</h1>
        <div class="card">
            <div class="card-body" style="margin-bottom: -20px;">
                <p class="card-text">
                    <strong>Report ID</strong>: {{ report.pk }}
                    <br />
                    <strong>Report Started</strong>: {{ report.started_at.strftime("%Y-%m-%d %H:%M:%S") }} UTC
                    <br />
                    <strong>Report Completed</strong>: {{ report.ended_at.strftime("%Y-%m-%d %H:%M:%S") }} UTC
                    <br />
                    <strong>Files Checked</strong>: {{ report.file_count }}
                    <br />
                    <strong>Successful Checks</strong>: {{ report.file_count - report.error_count }}
                    <br />
                    <strong>Failed Checks</strong>: {{ report.error_count }}
                    <br />
                    <strong>Total Size</strong>: {{ report.total_size|filesizeformat(binary=True) }}
                    <br />
                </p>
                <div id="report-chart"></div>
            </div>
        </div>
        <h1>Files</h1>
        <div class="report-files-container">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a onclick="showAllStates()">All ({{ report.file_count }})</a>
                    </li>
                    <li class="page-item">
                        <a onclick="filterState('.report-card-success')">Successful Checks ({{ report.file_count - report.error_count }})</a>
                    </li>
                    <li class="page-item">
                        <a onclick="filterState('.report-card-error')">Error ({{ report.error_count }})</a>
                    </li>
                </ul>
            </nav>
            <div class="report-files-list">
                {% for file in report.report_json.files %}
                    <div class="card report-card-{% if file.success %}success{% else %}error{% endif %} card-body">
                        <div class="card-title">{{ file.filename}}</div>
                        <div class="card-text smaller">
                            <strong>State</strong>: {% if file.success %}Success{% else %}Error{% endif %}
                            <br />
                            <strong>Size</strong>: {{ file.size|filesizeformat(binary=True) }}
                            <br />
                            <strong>Check Time</strong>: {{ file.checkTime }}
                            <br />
                            <strong>Deposit Time</strong>: {{ file.depositTime }}
                            <br />
                            {% if file.canonicalChecksums is defined %}
                                {% for checksum in file.canonicalChecksums %}
                                    {% if checksum[:3] == "md5" %}
                                        <strong>MD5</strong>: {{ checksum[4:] }}
                                        <br />
                                    {% elif checksum[:4] == "sha1" %}
                                        <strong>SHA1</strong>: {{ checksum[5:] }}
                                        <br />
                                    {% elif checksum[:6] == "sha256" %}
                                        <strong>SHA256</strong>: {{ checksum[7:] }}
                                        <br />
                                    {% elif checksum[:6] == "length" %}
                                        <strong>Length</strong>: {{ checksum[7:] }}
                                    {% else %}
                                        <strong>Other</strong>: {{ checksum }}
                                        <br />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if file.missingLocations is defined %}
                                <strong>Missing Locations Count</strong>: {{ file.missingLocations|length }}
                                <br />
                            {% endif %}
                            {% if file.mismatchGroups is defined %}
                                <strong>Mismatch Checksum Count</strong>: {{ file.mismatchGroups|length - 1 }}
                                <br />
                            {% endif %}
                        </div>
                    </div>
                    {% if loop.last %}
                        <div style="height: 100px;"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showAllStates() {
        const stateClasses = [
            '.report-card-success',
            '.report-card-error'
        ];
        const to_show = document.querySelectorAll(stateClasses.join(","))
        for (let i = 0; i < to_show.length; i++) {
            to_show.item(i).setAttribute("style", "display: true")
        }
    }
    function filterState(stateClass) {
        const stateClasses = [
            '.report-card-success',
            '.report-card-error'
        ];
        const hideClasses = stateClasses.filter(state => state !== stateClass)
        const to_show = document.querySelectorAll(stateClass)
        const to_hide = document.querySelectorAll(hideClasses.join(","))
        for (let i = 0; i < to_show.length; i++) {
           to_show.item(i).setAttribute("style", "display: true")
       }
       for (let i = 0; i < to_hide.length; i++) {
           to_hide.item(i).setAttribute("style", "display: none")
       }
    }
    $(function() {
        const successCount = {{ report.file_count - report.error_count }};
        const errorCount = {{ report.error_count }};

        chartalign.register("#report-chart", function (width, height) {
            return $("<canvas></canvas>").attr("width", width).attr("height", height);
        }, function ($el) {
            return new Chart($el.get(0), {
                type: 'doughnut',
                data: {
                    labels: ["Success", "Error"],
                    datasets: [
                        {
                            label: "Files",
                            backgroundColor: ["#3cba9f", "#c45850"],
                            data: [successCount, errorCount]
                        }
                    ]
                },
                options: {
                    legend: {
                        display: true,
                    },
                    title: {
                        display: false
                    }
                }
            });
        }, function (chart) {
            chart.destroy();
        });

    });
</script>

{% endblock content %}
