SECRET_KEY: {{ vault_django_secret_key }}
DEBUG: {{ vault_django_debug }}
SENTRY_DSN: {{ vault_sentry_dsn }}
VAULT_POSTGRES_NAME: {{ vault_postgres_name }}
VAULT_POSTGRES_USER: {{ vault_postgres_user }}
VAULT_POSTGRES_PASSWORD: {{ vault_postgres_password }}
VAULT_POSTGRES_HOST: {{ vault_postgres_host }}
VAULT_POSTGRES_PORT: {{ vault_postgres_port }}
